html {
  margin: 0;
  padding: 0;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

nav {
  font-family: "Patua One", cursive;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
}

img {
  width: 100%;
  text-align: center;

}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #793284;
  font-family: "Patua One", cursive;
  font-weight: bold;
}

h2 {
  font-family: "Patua One", cursive;
  color: #5d8432;
  width: 100%;
  text-transform: uppercase;
}

.hadrosaurids {
  line-height: 1.5;
  font-style: italic;
  text-align: center;
}

.iguanodon {
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

.stegosaurus {
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  font-size: .8rem;
}

nav :hover {
  color: #b42885;
}
